data
data/day1_small.txt
data/day2.txt
data/day3_small.txt
data/day3.txt
data/day4_small.txt
data/day4.txt
data/day5_small.txt
data/day5.txt
data/day6_small_traversal.txt
data/day6_small.txt
data/day6.txt
data/day7_small.txt
data/day7.txt
data/day8_small.txt
data/day8_solve.txt
data/day8.txt
data/day9_small.txt
data/day9.txt
data/day10_small.txt
data/day10.txt
data/day1.txt
data/day2_small.txt
